{% extends 'base.html' %}

{% block content %}

<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-sm-5">
                <h4 class="card-title mb-0">Expense Chart</h4>
                <div class="small text-muted">{{current_month_word}} {{current_year}}</div>
            </div>
            <div class="col-sm-7">
                <a href="" class="btn btn-success float-right">Download</a>
            </div>
        </div>

        <div class="char-wrapper d-flex align-items-center">
            <canvas id="budget-chart"></canvas>
        </div>
    </div>
</div>


{% endblock content %}